@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/*HEADER*/
.img {
    max-width: 30px;
    object-fit: contain;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 20px auto;
}

.navigation a {
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    padding: 0 18px;
    color: black;

}

.navigation a:hover {
    color: #ff9b00;
}

.search {
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 4px;
    padding: 10px;
}

/*HEADER*/


/*BODY*/
.box {
    width: 100%;
    max-width: 1024px;
    text-align: center;
    margin: 50px auto;
    padding: 40px;
    box-sizing: border-box;
}

.box h5 {
    color: #785017;
    font-size: 15px;
}

.box h1 {
    color: #ff9b00;
    font-size: 50px;
    font-weight: 800;
}

.box p {
    color: black;
    margin-bottom: 60px;
}

.boton1 {
    background-color: #ff9b00;
    color: white;
    padding: 18px 30px;
    margin: 8px;
    border-radius: 10px;
    width: 300px;
    text-decoration: none;
    margin-top: 60px;
}

.boton1:hover {
    opacity: 0.5;
}

.boton2 {
    background-color: transparent;
    color: #ff9b00;
    border: 1px solid #ff9b00;
    padding: 18px 30px;
    margin-top: 60px;
    border-radius: 10px;
    width: 300px;
    text-decoration: none;
}

.boton2:hover {
    opacity: 0.5;
}

.boxi {
    display: flex;
    margin-top: 90px;
    justify-content: center;
    overflow-x: hidden;
}

.boxi div {
    width: 500px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    width: 100%;
}

.boxi div img {
    width: 100%;
}

.mid {
    height: 160px;
    object-fit: cover;
}

.mt4 {
    margin-top: 20px;
}

/*BODY*/



/*FOOTER*/
footer {
    text-align: center;
    margin-top: 50px;
}

.img2 {
    max-width: 30px;
    margin-bottom: 20px;
}

.navigation2 a {
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    padding: 0 18px;
    color: black;
}

.navigation2 a:hover {
    color: #ff9b00;
}

.social {
    padding-top: 20px;
}

.social a img {
    width: 24px;
    object-fit: contain;
}

.social a {
    display: inline-block;
    padding: 8px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.279);
    text-decoration: none;
    margin: 4px;
}

.social a:hover {
    background-color: #ff9b00;
    text-decoration: none;
    margin: 4px;
}

/*FOOTER*/